* {
    margin: 0;
    box-sizing: border-box;
    background-color: #000;
    color: #fff;
}

.header {
    text-align: center;
    display: flex;
    flex-direction: column;
}

.info {
    margin: auto;
    /* width: 25%; */
    margin-bottom: 1em;
    font-size: 20px;
}

.container {
    height:100vh;
    padding-top: 30px;
    width: auto;
    border: 3px solid #333;
}

.letterbox-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.letterbox-row {
    display: flex;
    flex-direction: row;
    gap: 10px;
    padding: 10px;
}

.letterbox {
    width: 3rem;
    height: 3rem;
    font-size: 1.5rem;
    border: 5px solid #555;
    text-align: center;
    text-transform: uppercase;
    font-weight: bold;
}

.btn {
    background-color: #555;    
}

.wrong {
    background-color: #333;
    border: none;
}

.almost {
    background-color: yellow;
}

.right {
    background-color: green;
}

.keyboard {
    text-align: center;
    font-size: 14px;
    font-family: sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 10px;
}

.keyboard__row {
    display: inline-block;
    height: 3em;
    margin: 0.2em;
}

.keyboard__row > * {
    position: relative;
    background: #333;
    text-align: center;
    color: #eee;
    float: left;
    border-radius: 0.3em;
    margin: 0.2em;
    padding: 0.2em;
    width: 4em;
    height: 100%;
    box-sizing: border-box;
    cursor: pointer;
    -webkit-user-select: none;
    border: 1px solid #444;
    box-shadow: 0 0.2em 0 0.05em #222;
    border-bottom-color: #555;
}

.keyboard__row > div[data-pressed],
.keyboard__row > div:active {
    background: #2a2a2a;
    color: #aaa;
    position: relative;
    top: 0.2em;
    box-shadow: 0 0 0 0.05em black;
}

.key--w4 {
    width: 6em;
}

.key--letter {
    line-height: 2.8em;
}

.key--bottom-right > * {
    position: absolute;
    text-align: right;
    bottom: 0.4em;
    right: 0.4em;
}

.key--word > * {
    font-size: 0.8em;
}

@media (max-width: 600px) {
    .letterbox {
        font-size: 1em; 
        height: 2em;
        width: 2em;
    }
}
  
@media only screen and (min-width: 320px) and (max-width:378px) {
    .key--letter {
        width: 1.5em;
    }
}
  
@media only screen and (min-width: 378px) and (max-width:450px) {
    .key--letter {
        width: 2em;
    }
}
@media only screen and (min-width: 451px) and (max-width:515px) {
    .key--letter {
        width: 2.5em;
    }
}
@media only screen and (min-width: 516px) and (max-width:594px) {
    .key--letter {
        width: 3em;
    }
}

@media only screen and (min-width: 595px) and (max-width:768px) {
    .key--letter {
        width: 3.5em;
    }
}
